/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos del menú de navegación */
nav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + ul {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 14px 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out; /* Agregar transición */
}

nav ul li a:hover {
    background-color: #575757;
}

/* Estilos del contenido principal */
header, section, footer {
    padding: 20px;
    margin-top: 60px;
}

header {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #575757;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px;
        font-size: 16px;
    }

    header, section, footer {
        margin-top: 80px;
        padding: 15px;
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}